extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome to KnowIt, #{user.fb.firstName}.
						div.signup-wall
							ul.user-details
								li 
									a(href='/create', class='text-center') Create Question

						div.question_list
							each question in user.questions
								div.question_item(id=question._id)
									| Q: #{question.question}
									br
									| A: #{question.answer}
									br
									button(onclick='deleteQuestion(this)') Delete!

						div.profile_menu
							a(href='/signout', class='text-center') Sign Out
